extends layout

block main
  form(action="/" method="post")
    dl
      dt
        label(for="clientName") Enter the client name:
      dd
        input(type="text"
              id="clientName"
              name="clientName"
              placeholder="Client Name"
              value=clientName)
    
    fieldset.actions
      input(type="Submit" value="Save")
      a(class="action" href="/") Cancel